$columns: 12;

$padding: 2rem;

$margin: 1rem;

$desktop: 1200px;
$tablet: 900px;

$colors: (
  "primary": #023668,
  "secondary": #F1F1E6,
  "accent": #3F91F9,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #e6f4f1,
  "dark": #3f475b,
  "white": #fff,
  "gray": #6c757d,
  "gray-dark": #343a40,
);
